h1 Edit

form.admin(method="POST")
  fieldset
    ul
      li
        label Title:
        input(name='title', size=60, value=post.title)
      li
        label Permalink:
        input(name='permalink', size=60, value=post.permalink)
      li
        label Content:
        textarea#editor(name='content', cols=65, rows=30)= post.content
      li
        input(type='submit', value='Save')