article  
  a(href: '/admin/logout') Logout
  br
  br

  table
    thead
      tr
        th Title
        th Date
        th Published
    tbody
      - each post in posts
        tr
          td
            a(href: '/admin/edit/'+post.id)= post.title
          td= post.date.toString('MMMM, dd, yyyy')
          td= post.published
