script(type: "text/javascript")
  tinyMCE.init({ mode : "textareas", theme : "advanced" });
article
  form(method: "POST")
    label Title:
    input(name: 'title', size: 60, value: post.title)
    br
    label Permalink:
    input(name: 'permalink', size: 60, value: post.permalink)
    br
    br

    label Content:
    textarea(name: 'content', cols: 80, rows: 30)= post.content

    input(type: 'submit', value: 'Save')

    a(href: '/admin') Admin