article
  form(method: "POST")
    - if (error) 
      p Login failed.
    label Username:
    input(name: 'username')
    label Password:
    input(name: 'password', type: 'password')
    input(type: 'submit', value: 'Login')
