article
  header
    h2 Freelancing

  p
    | I'm available for freelance work, particularly in the areas of
    | Android and Node.js development. Contact me 
    a(href="mailto:kcbanner@gmail.com") here 
    | for rates.
