!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#wrap
      div#main
        div.header
          h1= title
          h2= tagline
        div.content
 
      div#nav
        div.box
          div.header
            h3 About
          div.content
            p= about
        div.box
          div.header
            h3 Recent Posts
          div.content
            ul
              li Thing 1
              li Thing 2
              li Thing 3
              li Thing 4
              li Thing 5