div#resume
  p.bio
    a(href="mailto:casey@caseybanner.ca") casey@caseybanner.ca
    |&nbsp;- (250) 552 2793

  h1 Casey Banner
  
  h2 Technical Skills:
  h3 Languages:
  p Python, C, C++, Objective-C, Java, JavaScript, HTML5, CSS3, Atmel AVR and 68k assembly, GLSL, Stylus, Less
  h3 Frameworks
  p Android SDK, iOS SDK, Django, Node.js, OpenGL ES 2.0
  h3 Operating Systems
  p Linux, Windows, OpenBSD, OS X
  

  h2 Experience:
  h3
    | Creator of
    a(href="uwschedule.ca") uwschedule.ca
    |, a social class scheduling app (2011 - present)
  ul
    li Used by over 900 University of Waterloo students
    li Instrumental in developing open data relationships with the University

  h3
    |Software Developer at
    a(href="http://glooko.com") Glooko
    |&nbsp(3A Co-op term)
  ul
    li Android, iOS, and front-end web development
    li Hardware accessory development on multiple platforms

  h3
    |Software Developer at
    a(href="http://xtremelabs.com") Xtreme Labs
    |&nbsp(2B Co-op term)
  ul
    li iOS development, specifically iPhone and iPad applications
    li Game development on iOS

  h3
    |Software Developer at
    a(href="http://kontagent.com") Kontagent
    |&nbsp(1A, 1B, and 2A Co-op terms)
  ul
    li Research tasks involving the Facebook platform
    li Python web application development using Django
    li Backend architecture design and development
    li Worked closely with clients to integrate the Kontagent product

  h3 Open source developer (2010-present)
  ul
    li
      | Creator and maintainer of the node.js modules
      a(href="https://github.com/kcbanner/connect-mongo") connect-mongo
      |&nbsp;and 
      a(href="https://github.com/kcbanner/node-cas") node-cas
    li
      | Built a
      a(href="https://github.com/kcbanner/facebook-test-users") utility
      |&nbsp;for managing Facebook test users
    li
      |Created a
      a(href="https://github.com/kcbanner/nodelog") blogging platform
      |&nbsp;powered by markdown, mongodb, and node.js

  h3 Freelance Programmer / Web Developer (2008 - present)
  ul
    li Developed lasting client relationships
    li Worked with clients across the country on large projects
