html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body {
  height: 100%;
}
@font-face {
  font-family: 'BebasRegular';
  src: url('fonts/BEBAS___-webfont.eot?') format('eot'), url('fonts/BEBAS___-webfont.woff') format('woff'), url('fonts/BEBAS___-webfont.ttf') format('truetype'), url('fonts/BEBAS___-webfont.svg#webfontOJIfwzl6') format('svg');
  font-weight: normal;
  font-style: normal;
}
.shadow {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
.light-text-shadow {
  text-shadow: 0px 1px 1px #edcc97;
}
body {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: white;
  font-family: 'Georgia', 'helvetica neue', serif;
  font-size: 16px;
  background-color: #c9a76e;
}
h1, h2, h3 {
  font-family: 'BebasRegular', serif;
}
h1 {
  font-weight: bold;
  font-size: 35px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #a32b26;
}
a:hover {
  text-decoration: underline;
}
.center {
  text-align: center;
}
.centered {
  width: 700px;
  margin: 0 auto;
}
#content {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ded3c3;
  border: 2px solid #781a17;
}
.red-background {
  background-color: #a3231f;
  text-shadow: 0px 1px 1px #ce2c27;
}
.red-background a {
  color: black;
  -webkit-transition: color 0.1s;
}
.red-background a:hover {
  text-decoration: none;
  color: #4d110f;
}
#masthead {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  border-bottom: 4px solid #781a17;
  overflow: hidden;
  height: 39px;
  text-align: right;
  background-color: #a3231f;
  text-shadow: 0px 1px 1px #ce2c27;
}
#masthead a {
  color: black;
  -webkit-transition: color 0.1s;
}
#masthead a:hover {
  text-decoration: none;
  color: #4d110f;
}
#masthead ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: none;
  line-height: 0.5em;
  clear: both;
}
#masthead ul li {
  display: inline;
  padding-left: 5px;
}
#masthead ul li a {
  vertical-align: top;
  text-decoration: none;
  font-family: 'BebasRegular', serif;
  font-size: 14px;
  cursor: pointer;
  padding: 0.2em 0.2em;
  border: 1px solid #781a17;
}
#masthead h1 {
  float: left;
}
#masthead h2 {
  float: right;
  font-size: 20px;
}
article:nth-last-child(1) {
  margin-bottom: 0px;
  border-bottom: none;
}
article {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
article p {
  padding-left: 10px;
  line-height: 1.3em;
  font-size: 14px;
}
article header {
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid #781a17;
  background-color: #a3231f;
  text-shadow: 0px 1px 1px #ce2c27;
}
article header a {
  color: black;
  -webkit-transition: color 0.1s;
}
article header a:hover {
  text-decoration: none;
  color: #4d110f;
}
article img, article object {
  display: block;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid #781a17;
}
