html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
{
  display: block;
}

body
{
  line-height: 1;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
  content: '';
  content: none;
}

table 
{
  border-collapse: collapse;
  border-spacing: 0;
}

html, body
{ 
  height: 100%;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/BEBAS___-webfont.eot?') format('eot'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;

}

@border-color: #DEA140;
@shadow-color: rgba(0, 0, 0, 0.75);
@dark-text-background: white;
@red-background: #A3231F;
@dark-border: darken(@red-background, 10%);
@link-color: #A32B26;
@background: #F8F7FF;

.shadow
{ 
  -moz-box-shadow: 0 0  15px @shadow-color;
  -webkit-box-shadow: 0 0 15px @shadow-color;
  box-shadow: 0 0 15px @shadow-color;
}

.light-text-shadow
{ 
  text-shadow: 0px 1px 1px lighten(@border-color, 20%);
}

body {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px rgba(255,255,255,.1);
  -webkit-font-smoothing: antialiased;

  text-align: center;
  background-color: @dark-text-background;
  font-family: 'Georgia', 'helvetica neue', serif;
  font-size: 16px;

  background-image: url('/images/bg.png');
  background-color: #3D3D3D;
}

h1,h2,h3
{ 
  font-family: 'BebasRegular', serif;
}

h1
{
  font-weight: bold;
  font-size: 35px;
}

h2
{ 
  font-size: 26px;
}

h3
{ 
  font-weight: bold;
}

a
{ 
  text-decoration: none;
  color: @link-color;

  &:hover
  { 
    text-decoration: underline;
  }
}

.center
{ 
  text-align: center;
}

.centered
{ 
  margin: 0 auto;
}

#content
{ 
  .shadow;
  width: 600px;
  padding-top: 80px;
  background-color: @background;
  border: 2px solid @dark-border;
  
  #bottom
  { 
    height: 5px;
    border-top: 4px solid @dark-border;
    background-color: @red-background;
  }
}

.red-background
{ 
  background-color: @red-background;
  text-shadow: 0px 1px 1px lighten(@red-background, 10%);

  a
  { 
    color: black;
    -webkit-transition: color 0.1s;

    &:hover
    {
      text-decoration: none; 
      color: white;
    }
  }
}

#masthead
{ 
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 4px solid @dark-border;
  overflow: hidden;
  height: 59px;
  text-align: right;
  .red-background;

  ul
  { 
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: none; 
    line-height: 0.5em;
    clear: both;
   
    li
    {
      display: inline;
      padding-left: 5px;
 
      a
      { 
        vertical-align: top;
        text-decoration: none;
        font-family: 'BebasRegular', serif;
        font-size: 14px;
        cursor: pointer;
        padding: 0.2em 0.2em;
        border: 1px solid @dark-border;
      }
    }
  }

  section
  { 
    width: 660px;
    padding: 10px;
    overflow: hidden;
  }

  h1
  { 
    float: left;
  }

  h2
  { 
    float: right;
    font-size: 20px;
  }
}

article:nth-last-child(1)
{ 
  margin-bottom: 0px;
  border-bottom: none;
}

article
{ 
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
 
  p
  {
    line-height: 1.3em;
    font-size: 14px;
  }

  pre.sh_sourceCode
  { 
    padding: 10px;
    border: 1px dashed @dark-border;
  }

  header
  { 
    z-index: 0;
    position: relative;
    left: -27px;
    width: 593px;
    margin-bottom: 15px;
    padding: 5px 10px;
    border-top: 2px solid @dark-border;
    border-bottom: 2px solid @dark-border;
    border-left: 1px solid @dark-border;
    border-right: 1px solid @dark-border;
    .red-background;
    -webkit-transition: all 0.1s ease-in-out;

    &:hover
    { 
      border-left: 10px solid @dark-border;
    }
  }

  img, object
  { 
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid @dark-border;
  }
}

/* Admin */
table
{ 
  border: 1px solid @dark-border;
  width: 100%;
  
  th
  { 
    font-weight: bold;
  }

  th, td
  { 
    font-size: 12px;
    border: 1px solid @dark-border;
    padding: 3px;
    text-align: left;
  }

}

